.hue-banner {
  width: 100%;
  height: 700px;
  background-image: url('../../images/hue-banner.jpg');
  background-size: cover;
  padding-top: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

.hue-title {
  font-size: 3.5rem;
  color: #810000;
}

.hue-desc {
  font-size: 2rem;
  color: #8D2828;
}

.menu-items {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.item {
  border: 1px solid #1f3545;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  color: #FDF6F0;
  background-color: #0681ab;
  padding: 10px 10px;
}

.item:hover {
  border: 1px solid #0681ab;
  background-color: #1f3545;
}

.place-posts, .food-posts {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.posts {
  width: 90%;
  height: 500px;
  margin: 30px auto;
  position: relative;
}

.post-name {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.post-location {
  width: 100%;
  text-align: center;
  font-size: .8rem;
  position: absolute;
  bottom: 10px;
}

.posts img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin-right: 20px;
}
